/*================================ 
  Estilos form new publicacion
  ================================*/

  * {
    font-family: Verdana;
    font-size: 1rem;
  }

  h1 {
    margin-left: 2%;
  }

  h1::selection,
  h2::selection {
    color: white;
    background-color: #504643;
  }

  label {
    display: block;
  }

  label[for="titulo_publicacion"],
  label[for="nombre"],
  label[for="tipo_publicacion"],
  label[for="descripcion"],
  label[for="fecha_publicacion"],
  label[for="telefono"],
  label[for="correo"] {
    margin-top: 20px;
  }

  label[for="soloAdmins"] {
    margin-left: 20px;
    font-size: 0.8rem;
  }

  .publicaciones {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    margin-left: 3%;
    width: 90%;
  }

  .campoDescripcion textarea {
    width: 80%;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    resize: none;
  }

  #formPublicNuevo {
    flex: 3;
    padding: 35px;
    width: 50%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #formPublicNuevo h2 {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }

  input[placeholder],
  input[type="date"],
  textarea[placeholder] {
    font-size: 0.9rem;
  }

  textarea[placeholder] {
    padding: 10px;
  }

  .tituloPublicacion input,
  .campoNombre input,
  .campoTelefono input,
  .campoCorreo input {
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .tituloPublicacion input:hover,
  .campoNombre input:hover,
  .campoTelefono input:hover,
  .campoCorreo input:hover {
    background-color: #c6bbb8;
  }

  .tipoPublicacion select {
    width: 84%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .campoFechaPublicacion input {
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  input[type="date"] {
    margin-bottom: 10px;
  }

  .tituloPublicacion,
  .tipoPublicacion,
  .campoDescripcion,
  .campoPrioridad,
  .campoNombre,
  .campoTelefono,
  .campoCorreo,
  .campoFechaPublicacion {
    margin-bottom: 10px;
  }

  .campoCheckbox {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .grupoBotonesPubli {
    display: flex;
    flex-direction: row;
    gap: 0px 50px;
  }

  .grupoRadioPriori {
    display: flex; 
    gap: 20px; 
    align-items: center; 
  }
  
  .grupoRadioPriori input[type="radio"] {
    margin: 0; 
    vertical-align: middle; 
  }
  
  .grupoRadioPriori label {
    margin-left: 5px; 
    font-size: 16px; 
  }
  
  .grupoBotones button {
    width: 30%;
    margin-top: 20px;
  }

  .error {
    display: block;
    margin-top: 3px;
    font-size: 0.7rem;
    color: #c62b09;
  }

  .imagenComunidad {
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .imagenComunidad img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .imagenComunidad img:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
  }

  @media (max-width: 1024px) {
    .publicaciones {
      flex-direction: column;
      gap: 20px;
    }

    #form_publicaciones {
      width: 90%;
      margin: auto;
    }

    .imagenComunidad {
      margin-left: 13px;
      width: 80%;
      height: 20%;
    }
  }

  @media (max-width: 768px) {
    h1 {
      margin-left: 3%;
    }

    #form_publicaciones {
      width: 90%;
      margin: auto;
      padding: 40px;
    }

    .imagenComunidad {
      margin-left: 3px;
    }

    .imagenComunidad img {
      width: 90%;
    }
  }

  @media (max-width: 480px) {
    body {
      font-size: 0.8rem;
    }

    .publicaciones {
      flex-direction: column;
      gap: 20px;
    }

    #form_publicaciones {
      width: 90%;
      margin: auto;
      padding: 20px;
    }

    .campoDescripcion textarea,
    .tituloPublicacion input,
    .campoNombre input,
    .campoTelefono input,
    .campoCorreo input {
      width: 80%;
    }

    .imagenComunidad img {
      width: 100%;
    }
  }
